html {
  /* background-color: #FFE8D7; */
  /* background: url(../image/coffee.png) no-repeat top -9% left 5.5%, linear-gradient(to top, #A3785D, #FFE8D7); */
  background: url(/static/growbox/image/vega/baklazan.png) no-repeat, url(/static/growbox/image/vega/salat.png) no-repeat, url(/static/growbox/image/vega/redis.png) no-repeat, url(/static/growbox/image/vega/tomate_f.png) no-repeat, url(/static/growbox/image/vega/chesnok.png) no-repeat, url(/static/growbox/image/vega/luk.png) no-repeat, linear-gradient(to top, #80b080, #b7fbb7);
  background-size: 10%, 15%, 10%, 10%, 15%, 10%;
  background-position: 2% 20%, 100% 45%, 2% 75%, 90% 25%, 5% 53%, 95% 77%;
  box-shadow: inset 0 0 200px rgba(11,102,35, .50);
  min-height: 100vh;
  height: auto;
  /*background: url(../image/coffee.png) no-repeat top -9.4% left 5.5%, url(../image/431.jpg); */
  /* background: url(../image/top.jpg) no-repeat top, url(../image/bottom.jpg) no-repeat bottom, url(../image/midle.jpg) repeat-Y;
  background-size: contain, contain, contain; */
}
body {
  min-height: 100vh;
  height: auto;
}
/* start */
img {
  display: block;
}

.link_full_article {
  position: absolute;
  width: 0;
  height: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: .5em;
}

.fa-thumbs-up, .fa-thumbs-down, .fa-eye {
  font-weight: 400;
  font-size: 1.2rem;
}

h1, h2, h4 {
  font-family: Steamy;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h3, h5, h6 {
  font-family: MontserratAlternates;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

span {
  font-family: MontserratAlternates;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  font-size: 5rem;
  color: transparent;
  //text-shadow: 1px 1px 2px black;
  background-color: #ba4040;
  text-shadow: 1px 1px 3px #d78989;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 10px;
  background: -webkit-radial-gradient(center, ellipse, rgba(186, 64, 64, .3) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(186, 64, 64, .3) 0%, rgba(0, 0, 0, 0) 70%);
}

h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(53, 56, 64);
  text-shadow: 1px 1px 2px rgb(255, 255, 255, .5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 70px;
  font-size: 2rem;
  text-align: center;
}

h2::after {
  content: "";
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin-left: 20px;
  height: 0px;
  border-top: 7px dotted rgb(187, 72, 59);
}

h2::before {
  content: "";
  position: relative;
  margin-right: 20px;
  width: 10%;
  height: 0px;
  border-top: 7px dotted rgb(187, 72, 59);
}

h4 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: rgb(53, 56, 64);
  text-shadow: 1px 1px 2px rgb(255, 255, 255, .5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

h4::after {
  content: "";
  position: relative;
  margin-left: 20px;
  width: 10%;
  height: 0px;
  border-top: 7px dotted rgb(187, 72, 59);
}

h4::before {
  content: "";
  position: relative;
  margin-right: 20px;
  width: 10%;
  height: 0px;
  border-top: 7px dotted rgb(187, 72, 59);
}

.wrapper_h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#search-block-form {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.wrapper_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  border-radius: 10px;
  background-color: rgba(216, 191, 216, .3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .5), 0 0 0 transparent;
  transition: box-shadow .3s, background .3s;
}

.wrapper_input:hover {
  background-color: rgba(216, 191, 216, .7);
  box-shadow: inset 0 0 0 transparent, 0px 1px 3px rgba(99, 50, 117, .5);
  transition: box-shadow .3s, background .3s;
}

input {
  font-family: MontserratAlternates;
  border: none;
  color: #565656;
}

input:focus {
  outline: none;
}

label {
  font-family: MontserratAlternates;
  border: none;
  color: #565656;
}

.form-submit {
  padding: 10px 20px;
  cursor: pointer;
  color: #565656;
  border: none;
  border-radius: 0 10px 10px 0;
  background: rgba(99, 50, 117, .3);
  font-family: MontserratAlternates;
  transition: all .3s;
}

.form-submit:hover {
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(99, 50, 117, .5);
  transition: all .3s;
}

.form-item {
  flex: 1 auto;
  padding: 0 20px;
}

.form-item input {
  background-color: transparent;
  width: 100%;
}

h3 {
  text-align: center;
  /*border-radius: 10px;
  transform: skewX(-20deg);*/
}

.wrapper_h3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: rgba(255, 255, 255, .7);
  transition: height .5s, background-color .5s, color .5s;
}

.wrapper_h3 .mini_inf {
  position: absolute;
  width: 0px;
  opacity: 0;
  text-align: justify;
}

.social_mini {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social_mini p {
  padding: 0 10px 0 0;
  margin: 0;
}

p, a {
  font-family: MontserratAlternates;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: .5rem;
  text-align: justify;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0;
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 150px;
}

#logo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.logo_img {
  background-size: contain;
  background-position: center;
  width: 25%;
  background-repeat: no-repeat;
  background-image: url(../image/tommato.png);
  background-size: 70%;
}

.menu_bar {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.ctgr_mnu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.ctgr_mnu a {
  background-color: #565656;
  color: transparent;
  font-weight: 900;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: color .3s, text-shadow .3s;
}

.ctgr_mnu a:hover {
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 1px 1px rgba(99, 50, 117, .7);
  -webkit-background-clip: inherit;
  -moz-background-clip: inherit;
  background-clip: inherit;
  background-color: transparent;
  transition: color .3s, text-shadow .7s;
}

#top_mnu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

#top_mnu a {
  color: grey;
  letter-spacing: 1px;
  height: 2rem;
  padding: 0 10px 0 10px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color .3s;
}

#top_mnu a:hover {
  color: white;
  transition: color .3s;
}

#top_mnu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: width .3s, height .3s;
  transform: skewX(-20deg);
  background-color: rgba(0, 0, 0, .7);
  border: 0px solid transparent;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
}

#top_mnu a:hover::before {
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  transition: width .3s, height .3s;
}

#top_mnu .enter {
  color: rgb(0, 171, 114);
  font-weight: 900;
  transition: color .3s;
}

#top_mnu .enter:hover {
  color: green;
  transition: color .3s;
}

#top_mnu .enter:hover::before {
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: orange;
  transition: width .3s, height .3s;
}

#last_article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 300px;
}

#top_article {
  display: grid;
  grid-template-columns: .75fr .75fr 1.5fr;
  grid-gap: 10px;
  grid-auto-rows: 700px;
}

.big_bloc {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.big_article .wrapper_h3 {
  height: 20%;
}

.big_article, .nano_article, .article_bloc, .item_rnd_artcl {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: box-shadow .5s;
}

.big_article img, .nano_article img, .article_bloc img, .item_rnd_artcl img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.big_article:hover, .nano_article:hover, .article_bloc:hover, .item_rnd_artcl:hover {
  box-shadow: 3px 3px 5px rgba(99, 50, 117, .5);
  transition: box-shadow .5s;
}

.big_article:hover .link_full_article, .nano_article:hover .link_full_article, .article_bloc:hover .link_full_article, .item_rnd_artcl:hover .link_full_article, .foto_bloc:hover .link_full_article, .search_article .link_full_article {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.big_article:hover .wrapper_h3, .nano_article:hover .wrapper_h3, .article_bloc:hover .wrapper_h3, .item_rnd_artcl:hover .wrapper_h3 {
  color: #ffffff;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  transition: height .5s, background-color .5s, color .5s;
}

.big_article:hover .wrapper_h3 .mini_inf, .nano_article:hover .wrapper_h3 .mini_inf, .article_bloc:hover .wrapper_h3 .mini_inf, .item_rnd_artcl:hover .mini_inf {
  position: relative;
  width: 100%;
  opacity: 1;
  padding: 0 40px;
  transition: opacity 1.2s;
}

.mini_bloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 1fr;
}

/* .article_bloc {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  } */
  #gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
    grid-gap: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

  .foto_bloc {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  /* отображение скрытого блока */
  .foto_bloc .vis {
    opacity: 0;
    transition: opacity .5s;
  }

  /* отображение скрытого блока */
  .foto_bloc .hid {
    width: 0;
    height: 0;
    transition: opacity .5s;
  }

  .info_item_slide {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
  }

  .info_item_slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .info_item_slide .link_full_article:hover~.info_artcl_glr {
    opacity: 1;
    z-index: 1;
    transition: opacity 1s;
  }

  .slide_manual {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 3;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color .3s, box-shadow .3s;
  }

  .slide_manual:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: background-color .3s, box-shadow .3s;
  }

  .slide_manual:hover i {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    transition: text-shadow .3s;
  }

  .slide_manual i {
    font-size: 6rem;
    padding: 30px;
    color: rgba(99, 50, 117, .7);
    transition: text-shadow .3s;
  }

  .prev {
    left: -100px;
    justify-content: flex-end;
  }

  .next {
    right: -100px;
    justify-content: flex-start;
  }

  .info_artcl_glr {
    color: #ffffff;
    padding: 40px;
    opacity: 0;
    width: 60%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    transition: opacity 1s;
  }

  .info_artcl_glr h3 {
    padding: 0 0 10px 0;
  }

  #random_article {
    display: grid;
    grid-template-columns: 360px 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
  }

  .item_rnd_artcl:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item_rnd_artcl:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }

  .wrapper_footer_img {
    width: 30%;
    align-self: stretch;
    background: url(/static/growbox/image/sity.png) no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .contact_mini {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  .icon_contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .icon_contact a {
    position: relative;
    font-family: Steamy;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,.5); */
    border-radius: 50%;
    /* box-shadow: 1px 1px 2px #000000; */
    width: 50px;
    height: 50px;
    /* transition: color .3s, text-shadow .3s; */
  }

  .icon_contact a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(128, 176, 128, .5);
    transition: box-shadow .3s, background-color .3s;
  }

  .icon_contact a:hover::after {
    background-color: transparent;
    transition: background-color .3s;
  }

/* .icon_contact a:hover, .contact_mini a:hover {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
  transition: color .3s, text-shadow .3s;
  } */
  .icon_contact a:nth-child(1) {
    background: url(/static/blog/image/soc.png) left no-repeat;
    background-size: cover;
  }

  .icon_contact a:nth-child(1):hover::after {
  /* background: url(../image/soc_hover_color.png) left no-repeat;
  background-size: cover; */
  box-shadow: 1px 1px 2px rgba(99, 50, 117, .9);
  transition: box-shadow .3s;
}

.icon_contact a:nth-child(2) {
  background: url(/static/blog/image/soc.png) center no-repeat;
  background-size: cover;
}

.icon_contact a:nth-child(2):hover {
  /* background: url(../image/soc_hover_color.png) center no-repeat;
  background-size: cover; */
  box-shadow: 1px 1px 2px rgba(59, 89, 152, 1);
  transition: box-shadow .3s;
}

.icon_contact a:nth-child(3) {
  background: url(/static/blog/image/soc.png) right no-repeat;
  background-size: cover;
}

.icon_contact a:nth-child(3):hover {
  /* background: url(../image/soc_hover_color.png) right no-repeat;
  background-size: cover;*/
  box-shadow: 1px 1px 2px rgba(187, 0, 0, .9);
  transition: box-shadow .3s;
}

/* .contact_mini a{
  color: #333333;
  text-transform: none;
  display: inline-block;
}
.contact_mini a span {
  color: rgba(99, 50, 117, 1);
  font-family: Steamy;
}

.contact_mini .fab{
  font-size: 3rem;
  }*/
  .themes_article_mini {
    width: 30%;
  }

  .themes_article_mini .ctgr_mnu a {
    text-shadow: none;
  }

  /* page article */
  .full_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .full_article h2, .full_article h4 {
    align-self: flex-start;
  }
  .full_article p {
    padding: .5rem 0 .5rem 0;
  }
  .full_article p:empty {
    display:none
  }

  .full_article .about_article {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .full_article .wrapper_h2 {
    align-self: normal;
  }

  .about_article .social_mini {
    justify-content: space-around;
    width: 30%;
  }

  .about_article .social_mini .fa-thumbs-up, .about_article .social_mini .fa-thumbs-down {
    font-size: 3rem;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: color .3s, text-shadow .3s;
  }

  .about_article .social_mini .soc_p:hover .fa-thumbs-up, .about_article .social_mini .soc_p:hover .fa-thumbs-down {
    color: rgba(255, 255, 255, .9);
    text-shadow: 1px 1px 1px rgba(99, 50, 117, .7);
    -webkit-background-clip: inherit;
    -moz-background-clip: inherit;
    background-clip: inherit;
    background-color: transparent;
    transition: color .3s, text-shadow .7s;
  }

  .about_article .social_mini .soc_p {
    cursor: pointer;
  }
  .about_article .social_mini p span {
    color: #565656;
  }
  .about_article .social_mini .soc_p span {
    color: #565656;
    text-shadow: 1px 1px 1px transparent;
    transition: color .2s, text-shadow .2s;
  }

  .about_article .social_mini .soc_p:hover span {
    color: rgba(255, 255, 255, .9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: color .2s, text-shadow .2s;
  }

  .wrapper_article_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 30px 0;
  }

  .wrapper_article_img p span {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .wrapper_article_img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

  .wrapper_article_img_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  .wrapper_article_img_area img {
    flex: 1 1;
    height: 200px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

  .author_date_article {
    color: #565656;
    padding: 0 10px 10px 0;
  }
  .more_link {
    color: rgb(187, 72, 59);
    text-shadow: 1px 1px 1px transparent;
    transition: color .2s, text-shadow .2s;
  }
  .more_link:hover {
    color: rgba(255, 255, 255, .9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: color .2s, text-shadow .2s;
  }
  .about_article .social_mini .on_soc i {
    color: rgba(255, 255, 255, .9);
    text-shadow: 1px 1px 1px rgba(99, 50, 117, .7);
    -webkit-background-clip: inherit;
    -moz-background-clip: inherit;
    background-clip: inherit;
    background-color: transparent;
    transition: color .3s, text-shadow .7s;
  }
  .about_article .social_mini .on_soc span {
    color: rgba(255, 255, 255, .9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: color .2s, text-shadow .2s;
  }
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(50% - 6px); 
    border: 3px rgba(255,255,255,.3) dashed;
    border-radius: 5px;
  }
  .avtor_com {
    color: rgb(187, 72, 59);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    line-height: 3rem;
    padding: 0 15px;
  }
  .text_com {
    padding: 0 15px;
  }
  .date_com {
    line-height: 3rem;
    align-self: flex-end;
    color: rgb(53, 56, 64);
    padding: 0 15px;
  }
  .form_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .form_active textarea, .form_active input {
    background-color: rgba(0,0,0,.3);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: MontserratAlternates;
  }
  .form_active label {
    padding: 10px 0;
    font-size: 1.5rem;
  }
  .form_active .form-input-submit {
    background-color: rgba(99, 50, 117, .5);
    margin: 20px 0 0 0;
    line-height: 2.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }
  .form_active .form-input-submit:hover {
    background-color: rgba(99, 50, 117, .7);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
  }
  .span_error {
    color: rgb(187, 72, 59);
    background-color: rgba(255,255,255,.5);
    line-height: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    border: 3px rgba(187, 72, 59,1) dashed;
    box-shadow: 0px 0px 5px rgba(255,255,255, .5);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }

  /* PAGE search */
  #search_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .search_article {
    position: relative;
    background-color: rgba(255,255,255, .5);
    height: 250px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: box-shadow .3s;
  }

  .search_article::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    transition: backends .3s, width .3s;
  }

  .search_article:hover::after {
    width: 100%;
    transition: width .3s;
  }

  .search_article:hover {
    box-shadow: 3px 3px 5px rgba(99, 50, 117, .5);
    transition: box-shadow .3s;
  }

  .search_article .link_full_article {
    opacity: 0;
    transition: opacity .2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: Steamy;
    color: transparent;
    background-color: black;
    text-shadow: 1px 1px 3px rgba(128, 128, 128, .6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .search_article:hover .link_full_article {
    opacity: 1;
    transition: opacity 1s;
  }

  .search_text_article {
    padding: 0 15px;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .search_text_article .about_article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search_wrapper_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
    overflow: hidden;
  }

  .search_wrapper_img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .search_text_article h4 {
    height: 50px;
    text-align: center;
  }
  /* pag_mnu */
  .pag_mnu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .pag_mnu a {
    padding: 5px;
    font-size: 1.5rem;
  }
  .pag_mnu button {
    font-size: 1.5rem;
  }
  /* popup */
  .box{
    cursor: pointer;
  }
  .popup{
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(150, 150, 150, .9);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: auto;
 }
 .popup img{
  flex: none;
  height: auto;
  max-height: 700px;
  object-fit: contain;
  object-position: center;
}
.popup .box{
  cursor: default;
}
.popup .fa-times{
	display: block;
}
.popup .fa-times:hover{
	display: block;
	color: rgb(187, 72, 59);
	transform: rotate(90deg);
	transition: color .3s, transform .3s, text-shadow .3s;
	text-shadow: 1px 1px 1px #565656;
}
.fa-times{
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 4rem;
	font-weight: 900;
	transition: color .3s, transform .3s, text-shadow .3s;
	cursor: pointer;
}
.popup_img_block p{
  display: none;
  color: white;
  text-shadow: 1px 1px 2px #565656;
}
.popup_img_block{
  position: relative;
  margin: 10px;
}
.popup_img_block:hover::before{
  opacity: 1;
  transition: opacity .3s;
}
.popup_img_block::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(../image/pensne.png) no-repeat, rgba(255, 255, 255, .5);
  background-position: center;
  background-size: 50%;
  transition: opacity .3s;
}
.popup .popup_img_block::before{
  display: none;
}
.popup .popup_img_block{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup .popup_img_block p{
  display: block;
  position: absolute;
  bottom: -40px;
}


/*growbox*/

#box_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url(/static/growbox/image/hidroponik6_85.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.video {
  width: 60%;
}
.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: justify-content;
  background-color: rgba(255,255,255, .4);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0, .2);
  padding: 20px;
}
.info p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px white;
}
.info span{
  width: 50%;
  font-family: A_CALC;
  font-size: 2rem;
  text-shadow: 1px 1px 1px white;
  text-align: center;
}

/*contol box*/
.control_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.control_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 30%;
  padding: 10px 0;
}
.control_item input{
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: A_CALC;
  width: 50%;
  background-color: rgba(0,0,0, .1);
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px -1px rgba(0,0,0, .5);
  text-align: right;
  color: rgba(255,255,255, .9);
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}
.control_item label{
  width: 25%;
  font-weight: 600;
}
.but{
  color: #565656;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  transition: color .3s, text-shadow .3s;
}
.but:hover{
  color: rgb(187, 72, 59);
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
  transition: color .3s, text-shadow .3s;
}
.all{
  width: 100%;
  flex-direction: row;
}
.all .fa{
  padding: 0 10px;
}
.botton_all{

}