{% extends 'blog/main.html' %}
{% load static %}
{% block main_section %}
<div class="wrapper_h2">
  <h2>Популярные</h2>
  {% include "blog/search_form.html" %}
</div>
<section id="top_article">
  <div class="big_bloc">
    <article class="big_article">
      <div class="wrapper_h3">
        <h3>{{ article.big_view_article.title }}</h3>
        <p class="mini_inf">{{ article.big_view_article.text_preview }}</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>{{ article.big_view_article.like }}</span></p>
          <p><i class="far fa-thumbs-down"></i><span>{{ article.big_view_article.dislike }}</span></p>
          <p><i class="far fa-eye"></i><span>{{ article.big_view_article.views_all }}</span></p>
        </div>
        <a href="{% url 'article' article.big_view_article.id %}" class="link_full_article"></a>
      </div>
      <img src="{{ BASE_DIR }}{{ article.big_view_article.image.url }}" alt="">
    </article>
  </div>
  <div class="mini_bloc">
    {% for article in article.small_view_article %}
    <article class="nano_article">
      <div class="wrapper_h3">
        <h3>{{ article.title }}</h3>
        <p class="mini_inf">{{ article.text_preview }}</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>{{ article.like }}</span></p>
          <p><i class="far fa-thumbs-down"></i><span>{{ article.dislike }}</span></p>
          <p><i class="far fa-eye"></i><span>{{ article.views_all }}</span></p>
        </div>
        <a href="{% url 'article' article.id %}" class="link_full_article"></a>
      </div>
      <img src="{{ BASE_DIR }}{{article.image.url }}" alt="">
    </article>
    {% endfor %}
  </div>
</section>
<div class="wrapper_h2">
  <h2>последние</h2>
</div>
<section id="last_article">

  {% for article in article.last_article %}

  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>{{ article.title }}</h3>
      <p class="mini_inf">{{ article.text_preview }}</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>{{ article.like }}</span></p>
        <p><i class="far fa-thumbs-down"></i><span>{{ article.dislike }}</span></p>
        <p><i class="far fa-eye"></i><span>{{ article.views_all }}</span></p>
      </div>
      <a href="{% url 'article' article.id %}" class="link_full_article"></a>
    </div>
    <img src="{{ BASE_DIR }}{{article.image.url }}" alt="">
  </article>

  {% endfor %}

</section>
<div class="wrapper_h2">
  <h2>Галерея</h2>
</div>
<section id="gallery">
  <div class="foto_bloc">
    <div class="slide_manual prev"><i class="fas fa-chevron-left"></i></div>
    <div class="slide_manual next"><i class="fas fa-chevron-right"></i></div>
    {% for article in article.gallery_article %}
    <div class="info_item_slide">
      <img src="{{ BASE_DIR }}{{article.image.url }}" alt="">
      <a href="{% url 'article' article.id %}" class="link_full_article"></a>
      <div class="info_artcl_glr">
        <h3>{{ article.title }}</h3>
        <p>{{ article.text_preview }}</p>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
<div class="wrapper_h2">
  <h2>Случайные</h2>
</div>
<section id="random_article">
  {% for article in article.random_article %}
  <article class="item_rnd_artcl">
    <div class="wrapper_h3">
      <h3>{{ article.title }}</h3>
      <p class="mini_inf">{{ article.text_preview }}</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>{{ article.like }}</span></p>
        <p><i class="far fa-thumbs-down"></i><span>{{ article.dislike }}</span></p>
        <p><i class="far fa-eye"></i><span>{{ article.views_all }}</span></p>
      </div>
      <a href="{% url 'article' article.id %}" class="link_full_article"></a>
    </div>
    <img src="{{ BASE_DIR }}{{article.image.url }}" alt="">
  </article>
  {% endfor %}
  
</section>

{% endblock main_section %}
