{% extends 'blog/main.html' %}
{% load static %}
{% block main_section %}
<div class="wrapper_h2">
  <h2>Популярные</h2>
</div>
<section id="top_article">
  <div class="big_bloc">
    <article class="big_article">
      <div class="wrapper_h3">
        <h3>Квартира обставленная Джеком</h3>
        <p class="mini_inf">Равным образом высокотехнологичная концепция общественной системы позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны повышение уровня гражданского сознания
          обеспечивает актуальность существующий финансовых и административных условий. Повседневная практика показывает, что высокотехнологичная концепция общественной системы позволяет выполнять важные задания по разработке системы обучения
          кадров, соответствующей насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности напрямую зависит от системы обучения кадров, соответствующей насущным потребностям. Следует отметить, что дальнейшее
          развитие различных форм деятельности обеспечивает актуальность соответствующих условий активизации.</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>265</span></p>
          <p><i class="far fa-thumbs-down"></i><span>675</span></p>
          <p><i class="far fa-comments"></i><span>15</span></p>
        </div>
        <a href="#" class="full_article"></a>
      </div>
      <img src="{% static 'blog/image/1.jpg' %}" alt="">
    </article>
  </div>
  <div class="mini_bloc">
    <article class="nano_article">
      <div class="wrapper_h3">
        <h3>Дом с окном</h3>
        <p class="mini_inf">Следует отметить, что новая модель организационной деятельности обеспечивает.</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>265</span></p>
          <p><i class="far fa-thumbs-down"></i><span>675</span></p>
          <p><i class="far fa-comments"></i><span>15</span></p>
        </div>
        <a href="#" class="full_article"></a>
      </div>
      <img src="{% static 'blog/image/2.jpg' %}" alt="">
    </article>
    <article class="nano_article">
      <div class="wrapper_h3">
        <h3>Я не сломаюсь</h3>
        <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>265</span></p>
          <p><i class="far fa-thumbs-down"></i><span>675</span></p>
          <p><i class="far fa-comments"></i><span>15</span></p>
        </div>
        <a href="#" class="full_article"></a>
      </div>
      <img src="{% static 'blog/image/3.jpg' %}" alt="">
    </article>
    <article class="nano_article">
      <div class="wrapper_h3">
        <h3>я смеюсь Вам в лицо</h3>
        <p class="mini_inf">С другой стороны постоянное информационно-пропогандистское обеспечение.</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>265</span></p>
          <p><i class="far fa-thumbs-down"></i><span>675</span></p>
          <p><i class="far fa-comments"></i><span>15</span></p>
        </div>
        <a href="#" class="full_article"></a>
      </div>
      <img src="{% static 'blog/image/4.jpg' %}" alt="">
    </article>
    <article class="nano_article">
      <div class="wrapper_h3">
        <h3>Белый шум</h3>
        <p class="mini_inf">Для современного мира консультация с широким активом в значительной степени.</p>
        <div class="social_mini">
          <p><i class="far fa-thumbs-up"></i><span>265</span></p>
          <p><i class="far fa-thumbs-down"></i><span>675</span></p>
          <p><i class="far fa-comments"></i><span>15</span></p>
        </div>
        <a href="#" class="full_article"></a>
      </div>
      <img src="{% static 'blog/image/5.jpg' %}" alt="">
    </article>
  </div>
</section>
<div class="wrapper_h2">
  <h2>последние</h2>
</div>
<section id="last_article">
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/5.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/2.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/3.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/4.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/5.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/1.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/2.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/3.jpg' %}" alt="">
  </article>
  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/4.jpg' %}" alt="">
  </article>
</section>
<div class="wrapper_h2">
  <h2>Галерея</h2>
</div>
<section id="gallery">
  <div class="foto_bloc">
    <div class="slide_manual prev"><i class="fas fa-chevron-left"></i></div>
    <div class="slide_manual next"><i class="fas fa-chevron-right"></i></div>
    <div class="info_item_slide">
      <img src="{% static 'blog/image/1.jpg' %}" alt="">
      <a href="#" class="full_article"></a>
      <div class="info_artcl_glr">
        <h3>Какой то большой заголовок</h3>
        <p>Повседневная практика показывает, что начало повседневной работы по формированию позиции требует определения и уточнения системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт консультация с
          широким
          активом в значительной степени обуславливает создание поэтапного и последовательного развития общества. С другой стороны управление и развитие структуры в значительной степени обуславливает создание поставленных обществом и
          правительством
          задач.</p>
      </div>
    </div>
    <div class="info_item_slide">
      <img src="{% static 'blog/image/2.jpg' %}" alt="">
      <a href="#" class="full_article"></a>
      <div class="info_artcl_glr">
        <h3>Какой то большой заголовок</h3>
        <p>Повседневная практика показывает, что начало повседневной работы по формированию позиции требует определения и уточнения системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт консультация с
          широким
          активом в значительной степени обуславливает создание поэтапного и последовательного развития общества. С другой стороны управление и развитие структуры в значительной степени обуславливает создание поставленных обществом и
          правительством
          задач.</p>
      </div>
    </div>
    <div class="info_item_slide">
      <img src="{% static 'blog/image/3.jpg' %}" alt="">
      <a href="#" class="full_article"></a>
      <div class="info_artcl_glr">
        <h3>Какой то большой заголовок</h3>
        <p>Повседневная практика показывает, что начало повседневной работы по формированию позиции требует определения и уточнения системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт консультация с
          широким
          активом в значительной степени обуславливает создание поэтапного и последовательного развития общества. С другой стороны управление и развитие структуры в значительной степени обуславливает создание поставленных обществом и
          правительством
          задач.</p>
      </div>
    </div>
  </div>
</section>
<div class="wrapper_h2">
  <h2>Случайные</h2>
</div>
<section id="random_article">
  <article class="item_rnd_artcl">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/1.jpg' %}" alt="">
  </article>
  <article class="item_rnd_artcl">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/2.jpg' %}" alt="">
  </article>
  <article class="item_rnd_artcl">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/3.jpg' %}" alt="">
  </article>
  <article class="item_rnd_artcl">
    <div class="wrapper_h3">
      <h3>Я не сломаюсь</h3>
      <p class="mini_inf">Для современного мира консультация с широким активом играет важную роль в формировании соответствующих.</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>265</span></p>
        <p><i class="far fa-thumbs-down"></i><span>675</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="#" class="full_article"></a>
    </div>
    <img src="{% static 'blog/image/4.jpg' %}" alt="">
  </article>
</section>

{% endblock main_section %}
