{% extends 'blog/main.html' %}
{% load static %}
{% block rubric %}
<div class="wrapper_h2">
  <h2>{{ page_title }}</h2>
  <form action="" method="post" id="search-block-form">
    <div class="wrapper_input">
      <div class="form-item">
        <input type="text" name="" value="" maxlength="128" placeholder="Найти...">
      </div>
      <div class="form-actions">
        <input type="submit" name="op" value="Поиск" class="form-submit">
      </div>
    </div>
  </form>
</div>
<section id="last_article">

{% for article in article %}

  <article class="article_bloc">
    <div class="wrapper_h3">
      <h3>{{ article.title }}</h3>
      <p class="mini_inf">{{ article.text_preview }}</p>
      <div class="social_mini">
        <p><i class="far fa-thumbs-up"></i><span>{{ article.like }}</span></p>
        <p><i class="far fa-thumbs-down"></i><span>{{ article.dislike }}</span></p>
        <p><i class="far fa-comments"></i><span>15</span></p>
      </div>
      <a href="{% url 'article' article.id %}" class="link_full_article"></a>
    </div>
    <img src="{{ BASE_DIR }}{{ article.image.url }}" alt="">
  </article>

{% endfor %}

</section>
<div class="pag_mnu">
  <div class="pag_left"><a href=""><i class="fas fa-chevron-left"></i></a></div>
  <div class="pag_int_center">
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
  </div>
  <div class="pag_right"><a href=""><i class="fas fa-chevron-right"></i></a></div>
</div>
{% endblock rubric %}
